.sideBar{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	background: white;
	width: 15%;
	padding: $tiny-percentage 0;
	box-shadow: $shadow;
	overflow-y: auto;
}
.sideBar section{
	float: left;
	width: 100%;
}
.sideBar section h1{
	padding: $small-percentage $medium-percentage;
}
.accordionWidget h1 span{
	color: $blue-500 !important;
}
.sideBar section p{
	padding: 0 $medium-percentage $small-percentage;
}
.sideBar section li>*{
	padding: $xsmall-percentage $medium-percentage;
}
.sideBar section p{
	margin-bottom: 0;
}
.sideBar section h2{
	margin-bottom: .5em;
}
.sideBar section ul{
	display: none;
}
.accordionWidget{
	cursor: pointer;
	    border-bottom: 1px solid white;
	transition: all .15s cubic-bezier(1.000, -0.005, 0.720, 1.005);
}
.accordionWidget:hover{
	background-color: $lightgrey;
}
.accordionWidget.open{
	background-color: $lightgrey;
}
.accordionWidget.open li:hover{
	
	background-color: $hover;
}
//.accordionWidget>ul{
//	margin-top: 1em;
//}
.ctrl-list-item{
	padding-top: 1%;
}
.range-val-lower{
	text-align: left;
}
.range-val-upper{
	text-align: right;
	float: right;
}
.noHover:hover, .ctrl-list-item:hover{
	background: transparent !important;
}
.noHover{
	cursor: auto !important;
}

.accordionWidget ul li h2{
	margin-top: 1.2em;
	margin-bottom: 0;
}