.sideBar{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	background: white;
	width: 25%;
	overflow-y: auto;
  border-right: 1px solid $canvas;
  z-index: 9;
  box-shadow: 3px 0px 5px rgba(50,50,50,.2);
}
.sideBar section{
	float: left;
	width: 100%;
}
.sideBar section h1{
	padding: $small-percentage $medium-percentage;
}
.accordionWidget h1 span{
	color: $blue-500 !important;
}
.sideBar section p{
	padding: $xsmall-percentage $medium-percentage $tiny-percentage;
}
.sideBar section li>h2{
	padding: $xsmall-percentage $medium-percentage;
}
.sideBar section p{
	margin-bottom: 0;
}
.sideBar section h2{
	margin-bottom: .5em;
}
.sideBar section ul{
	display: none;
}
.accordionWidget{
	cursor: pointer;
	    border-bottom: 1px solid white;
	transition: all .15s cubic-bezier(1.000, -0.005, 0.720, 1.005);
}
.accordionWidget:hover{
	background-color: $lightgrey;
}
.accordionWidget.open{
	background-color: $lightgrey;
}
.accordionWidget.open li:hover{
	
	background-color: $hover;
}
//.accordionWidget>ul{
//	margin-top: 1em;
//}

.accordionWidget.open .buttonControls:hover{
  background: transparent;
}
.ctrl-list-item{
	padding-top: 1%;
}
.range-val-lower{
	text-align: left;
}
.range-val-upper{
	text-align: right;
	float: right;
}
.noHover:hover, .ctrl-list-item:hover{
	background: transparent !important;
}
.noHover{
	cursor: auto !important;
}

.accordionWidget ul li h2{
	margin-top: 1.2em;
	margin-bottom: 0;
}
.sideBar .buttonControls p{
  padding: 0;
}
.buttonControls{
  padding: $medium-percentage $medium-percentage 0;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

.intro h1{
  padding: $xsmall-percentage $medium-percentage !important;
  font-size: 3em;
}

.intro{
  padding: $smedium-percentage 0;
  border-bottom: $lightgrey 1px solid;
}

.close-button{
  display: none;
}

#sideContainer{
  padding: 0 $medium-percentage;
}

#sideContainer .btn{
  margin-right: $xsmall-em;
}
