/* line 13, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/modules/reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button, input, textarea, select, main, aside {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: none;
  outline: 0;
  border-style: solid;
  border-width: 0;
  box-sizing: border-box;
  position: relative; }

/* line 28, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/modules/reset */
html, body {
  height: 100%; }

/* HTML5 display-role reset for older browsers */
/* line 34, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/modules/reset */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 37, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/modules/reset */
ol, ul {
  list-style: none; }

/* line 40, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/modules/reset */
blockquote, q {
  quotes: none; }

/* line 44, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/modules/reset */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

/* line 48, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/modules/reset */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 52, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/modules/reset */
div, section, nav {
  position: relative; }

/* line 27, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/modules/colors */
body {
  background: #edebeb; }

/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2014 Daniel Eden
*/
/* line 8, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/modules/animation */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

/* line 15, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/modules/animation */
.animatedSlow {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

/* line 21, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/modules/animation */
.animatedSuperSlow {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

/* line 27, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/modules/animation */
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

/* line 32, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/modules/animation */
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s; }

@-webkit-keyframes fadeIn {
  /* line 38, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/modules/animation */
  0% {
    opacity: 0; }

  /* line 39, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/modules/animation */
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  /* line 43, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/modules/animation */
  0% {
    opacity: 0; }

  /* line 44, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/modules/animation */
  100% {
    opacity: 1; } }

/* line 46, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/modules/animation */
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

@font-face {
  font-family: 'avenir_book';
  src: url('../fonts/AvenirLTStd-Book.eot');
  src: url('../fonts/AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirLTStd-Book.woff') format('woff'), url('../fonts/AvenirLTStd-Book.ttf') format('truetype'), url('../fonts/AvenirLTStd-Book.svg#avenir_book') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'avenir_medium';
  src: url('../fonts/AvenirLTStd-Medium.eot');
  src: url('../fonts/AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirLTStd-Medium.woff') format('woff'), url('../fonts/AvenirLTStd-Medium.ttf') format('truetype'), url('../fonts/AvenirLTStd-Medium.svg#avenir_medium') format('svg');
  font-weight: normal;
  font-style: normal; }

/* line 21, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/typography */
html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  font-smooth: always;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased; }

/* line 32, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/typography */
body {
  font-family: 'avenir_book', sans-serif; }

/* line 35, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/typography */
html {
  font-size: 100%; }

/* line 43, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/typography */
h1, .alpha, h2, .beta, h3, .gamma, h4, .delta, h5, .epsilon, h6, .zeta {
  font-family: 'avenir_medium';
  margin: 0; }

/* line 47, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/typography */
h1, .alpha {
  font-size: 2.625em;
  line-height: 1.14286; }

/* line 51, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/typography */
h2, .beta {
  font-size: 1.96875em;
  line-height: 1.52381; }

/* line 55, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/typography */
h3, .gamma {
  font-size: 1.3125em;
  line-height: 1.14286; }

/* line 59, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/typography */
h4, .delta {
  font-size: 1.14844em;
  line-height: 1.30612; }

/* line 63, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/typography */
h5, .epsilon {
  font-size: 0.98438em;
  line-height: 1.52381; }

/* line 67, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/typography */
h6, .zeta {
  font-size: 0.875em;
  line-height: 1.71429; }

/* line 72, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/typography */
p, blockquote {
  font-size: 0.875em;
  margin: 0 0 1.71429em;
  line-height: 1.71429;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }

/* line 83, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/typography */
dl, ol, ul {
  font-size: 0.875em;
  padding: 0; }

/* line 89, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/typography */
dd, dt, li {
  line-height: 1.71429;
  margin: 0; }

@font-face {
  font-family: 'icons';
  src: url('../icons/icons.eot?79h4zr');
  src: url('../icons/icons.eot?#iefix79h4zr') format('embedded-opentype'), url('../icons/icons.woff?79h4zr') format('woff'), url('../icons/icons.ttf?79h4zr') format('truetype'), url('../icons/icons.svg?79h4zr#icons') format('svg');
  font-weight: normal;
  font-style: normal; }

/* line 12, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  top: 2px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 28, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-apple:before {
  content: "\e600"; }

/* line 31, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-artifact:before {
  content: "\e601"; }

/* line 34, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-back:before {
  content: "\e602"; }

/* line 37, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-bin:before {
  content: "\e603"; }

/* line 40, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-build:before {
  content: "\e604"; }

/* line 43, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-building_satellite:before {
  content: "\e605"; }

/* line 46, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-building:before {
  content: "\e606"; }

/* line 49, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-camera:before {
  content: "\e607"; }

/* line 52, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-carrot:before {
  content: "\e608"; }

/* line 55, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-cc-by:before {
  content: "\e609"; }

/* line 58, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-cc-nd:before {
  content: "\e60a"; }

/* line 61, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-cc-nc:before {
  content: "\e60b"; }

/* line 64, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-cc-public-domain:before {
  content: "\e60c"; }

/* line 67, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-cc-remix:before {
  content: "\e60d"; }

/* line 70, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-cc-sampling-plus:before {
  content: "\e60e"; }

/* line 73, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-cc-sampling:before {
  content: "\e60f"; }

/* line 76, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-cc-sa:before {
  content: "\e610"; }

/* line 79, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-cc-share:before {
  content: "\e611"; }

/* line 82, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-cc-zero:before {
  content: "\e612"; }

/* line 85, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-cc:before {
  content: "\e613"; }

/* line 88, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-clock:before {
  content: "\e614"; }

/* line 91, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-clock2:before {
  content: "\e615"; }

/* line 94, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-cloud:before {
  content: "\e616"; }

/* line 97, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-code:before {
  content: "\e617"; }

/* line 100, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-coffee:before {
  content: "\e618"; }

/* line 103, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-delete:before {
  content: "\e619"; }

/* line 106, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-device:before {
  content: "\e61a"; }

/* line 109, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-indication-bar0:before {
  content: "\e61b"; }

/* line 112, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-indication-bar1:before {
  content: "\e61c"; }

/* line 115, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-indication-bar2:before {
  content: "\e61d"; }

/* line 118, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-indication-bar3:before {
  content: "\e61e"; }

/* line 121, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-indication-bar4:before {
  content: "\e61f"; }

/* line 124, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-indication-bar5:before {
  content: "\e620"; }

/* line 127, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-discussion:before {
  content: "\e621"; }

/* line 130, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-down:before {
  content: "\e622"; }

/* line 133, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-exit:before {
  content: "\e623"; }

/* line 136, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-eye:before {
  content: "\e624"; }

/* line 139, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-flag:before {
  content: "\e625"; }

/* line 142, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-folder:before {
  content: "\e626"; }

/* line 145, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-gift:before {
  content: "\e627"; }

/* line 148, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-health:before {
  content: "\e628"; }

/* line 151, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-heart:before {
  content: "\e629"; }

/* line 154, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-house:before {
  content: "\e62a"; }

/* line 157, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-key:before {
  content: "\e62b"; }

/* line 160, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-key2:before {
  content: "\e62c"; }

/* line 163, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-lamp:before {
  content: "\e62d"; }

/* line 166, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-lemon:before {
  content: "\e62e"; }

/* line 169, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-list:before {
  content: "\e62f"; }

/* line 172, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-lock:before {
  content: "\e630"; }

/* line 175, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-loupe:before {
  content: "\e631"; }

/* line 178, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-man:before {
  content: "\e632"; }

/* line 181, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-meat:before {
  content: "\e633"; }

/* line 184, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-messages:before {
  content: "\e634"; }

/* line 187, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-money:before {
  content: "\e635"; }

/* line 190, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-music:before {
  content: "\e636"; }

/* line 193, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-pencil:before {
  content: "\e637"; }

/* line 196, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-picture:before {
  content: "\e638"; }

/* line 199, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-play:before {
  content: "\e639"; }

/* line 202, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-plug:before {
  content: "\e63a"; }

/* line 205, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-plug2:before {
  content: "\e63b"; }

/* line 208, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-plus:before {
  content: "\e63c"; }

/* line 211, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-plus-92:before {
  content: "\e63d"; }

/* line 214, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-plus2:before {
  content: "\e63e"; }

/* line 217, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-redo:before {
  content: "\e63f"; }

/* line 220, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-redo2:before {
  content: "\e640"; }

/* line 223, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-save:before {
  content: "\e641"; }

/* line 226, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-screen:before {
  content: "\e642"; }

/* line 229, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-search:before {
  content: "\e643"; }

/* line 232, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-share:before {
  content: "\e644"; }

/* line 235, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-share2:before {
  content: "\e645"; }

/* line 238, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-skills:before {
  content: "\e646"; }

/* line 241, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-star:before {
  content: "\e647"; }

/* line 244, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-star2:before {
  content: "\e648"; }

/* line 247, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-suitcase:before {
  content: "\e649"; }

/* line 250, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-telephone:before {
  content: "\e64a"; }

/* line 253, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-television:before {
  content: "\e64b"; }

/* line 256, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-text:before {
  content: "\e64c"; }

/* line 259, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-title:before {
  content: "\e64d"; }

/* line 262, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-undo:before {
  content: "\e64e"; }

/* line 265, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-vinyl:before {
  content: "\e64f"; }

/* line 268, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-world:before {
  content: "\e650"; }

/* line 271, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
.icon-logo:before {
  content: "\e62d";
  -webkit-animation: scrollLogo 5s;
  /* Chrome, Safari, Opera */
  animation: scrollLogo 5s; }

@-webkit-keyframes scrollLogo {
  /* line 278, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
  0% {
    content: "\e62d"; }

  /* line 279, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
  25% {
    content: "\e649"; }

  /* line 280, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
  50% {
    content: "\e647"; }

  /* line 281, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
  100% {
    content: "\e642"; } }

/* Standard syntax */
@keyframes scrollLogo {
  /* line 286, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
  0% {
    content: "\e62d"; }

  /* line 287, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
  25% {
    content: "\e649"; }

  /* line 288, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
  50% {
    content: "\e647"; }

  /* line 289, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/icons */
  100% {
    content: "\e642"; } }

/* line 1, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/buttons */
.btn, button {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 0.9375em 1.875em;
  display: inline-block;
  margin: 1.875em 0;
  text-transform: uppercase;
  font-weight: normal;
  font-family: 'avenir_medium';
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

/* line 20, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/buttons */
.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

/* line 28, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/buttons */
.btn-1 {
  border: 3px solid #333;
  color: #333; }

/* Button 1a */
/* line 34, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/buttons */
.btn-1a:hover, .btn-1a:active {
  color: #16a68f;
  background: #fff;
  border: 3px solid #fff; }

/* line 40, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/buttons */
.call-to-btn-1 {
  border: 3px solid #16a68f;
  background: #16a68f;
  color: white; }

/* Button 1a */
/* line 47, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/buttons */
.call-to-btn-1a:hover, .call-to-btn-1a:active {
  color: #16a68f;
  background: #fff;
  border: 3px solid #fff; }

/* line 1, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/typical_classes */
.right {
  float: right; }

/* line 4, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/typical_classes */
.left {
  float: left; }

/* line 7, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/typical_classes */
.hidden {
  opacity: 0; }

/* line 10, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/typical_classes */
.visible {
  opacity: 1; }

/* line 1, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/layout */
body {
  overflow: hidden; }

/* line 4, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/layout */
#webgl {
  position: absolute;
  left: 15%;
  right: 0;
  background-color: black;
  height: 100%; }

/* line 12, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/layout */
.views {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 999;
  padding: 1%;
  margin-right: 0.4em; }

/* line 21, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/layout */
.views li {
  display: inline;
  font-size: 2.5em;
  margin-bottom: 0;
  line-height: 0;
  color: white;
  cursor: pointer; }

/* line 29, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/layout */
.views li:first-child {
  margin-right: 0.4em; }

/* line 1, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/menus */
.logo {
  max-width: 60px;
  display: block; }

/* line 1, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/video */
.videoWrapper {
  position: relative;
  width: 100% !important;
  padding-bottom: 56.25% !important;
  /* 16:9 */
  padding-top: 25px !important;
  height: 0; }

/* line 8, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/video */
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* line 15, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/video */
video {
  width: 100% !important;
  height: auto !important;
  z-index: 9;
  position: relative; }

/* line 1, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/sidebar */
.sideBar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: white;
  width: 15%;
  padding: 1% 0; }

/* line 10, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/sidebar */
.sideBar section {
  float: left;
  width: 100%; }

/* line 14, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/sidebar */
.sideBar section h1 {
  padding: 4% 8%; }

/* line 17, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/sidebar */
.sideBar section p {
  padding: 0 8% 4%; }

/* line 20, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/sidebar */
.sideBar section li > * {
  padding: 2% 8%; }

/* line 23, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/sidebar */
.sideBar section p {
  margin-bottom: 0; }

/* line 26, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/sidebar */
.sideBar section h2 {
  margin-bottom: 0.5em; }

/* line 29, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/sidebar */
.sideBar section ul {
  display: none; }

/* line 32, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/sidebar */
.accordionWidget {
  cursor: pointer;
  border-bottom: 1px solid white;
  transition: all 0.15s cubic-bezier(1, -0.005, 0.72, 1.005); }

/* line 37, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/sidebar */
.accordionWidget:hover {
  background-color: #edebeb; }

/* line 40, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/sidebar */
.accordionWidget.open {
  background-color: #edebeb; }

/* line 43, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/partials/sidebar */
.accordionWidget.open li:hover {
  background-color: #d5d0d0; }

/* BASICS */
/* line 3, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 300px;
  color: black; }

/* PADDING */
/* line 12, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.CodeMirror-lines {
  padding: 4px 0;
  /* Vertical padding around content */ }

/* line 15, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.CodeMirror pre {
  padding: 0 4px;
  /* Horizontal padding of content */ }

/* line 19, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: white;
  /* The little square between H and V scrollbars */ }

/* GUTTER */
/* line 25, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap; }

/* line 31, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

/* line 40, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.CodeMirror-guttermarker {
  color: black; }

/* line 41, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.CodeMirror-guttermarker-subtle {
  color: #999; }

/* CURSOR */
/* line 45, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.CodeMirror div.CodeMirror-cursor {
  border-left: 1px solid black; }

/* Shown when moving in bi-directional text */
/* line 49, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver; }

/* line 52, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.CodeMirror.cm-fat-cursor div.CodeMirror-cursor {
  width: auto;
  border: 0;
  background: #7e7; }

/* line 57, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.CodeMirror.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1; }

/* line 61, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.cm-animate-fat-cursor {
  width: auto;
  border: 0;
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite; }

@-moz-keyframes blink {
  /* line 69, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
  0% {
    background: #7e7; }

  /* line 70, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
  50% {
    background: none; }

  /* line 71, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
  100% {
    background: #7e7; } }

@-webkit-keyframes blink {
  /* line 74, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
  0% {
    background: #7e7; }

  /* line 75, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
  50% {
    background: none; }

  /* line 76, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
  100% {
    background: #7e7; } }

@keyframes blink {
  /* line 79, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
  0% {
    background: #7e7; }

  /* line 80, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
  50% {
    background: none; }

  /* line 81, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
  100% {
    background: #7e7; } }

/* Can style cursor different in overwrite (non-insert) mode */
/* line 87, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.cm-tab {
  display: inline-block;
  text-decoration: inherit; }

/* line 89, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  position: absolute; }

/* DEFAULT THEME */
/* line 96, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.cm-s-default .cm-keyword {
  color: #708; }

/* line 97, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.cm-s-default .cm-atom {
  color: #219; }

/* line 98, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.cm-s-default .cm-number {
  color: #164; }

/* line 99, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.cm-s-default .cm-def {
  color: #00f; }

/* line 104, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.cm-s-default .cm-variable-2 {
  color: #05a; }

/* line 105, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.cm-s-default .cm-variable-3 {
  color: #085; }

/* line 106, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.cm-s-default .cm-comment {
  color: #a50; }

/* line 107, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.cm-s-default .cm-string {
  color: #a11; }

/* line 108, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.cm-s-default .cm-string-2 {
  color: #f50; }

/* line 109, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.cm-s-default .cm-meta {
  color: #555; }

/* line 110, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.cm-s-default .cm-qualifier {
  color: #555; }

/* line 111, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.cm-s-default .cm-builtin {
  color: #30a; }

/* line 112, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.cm-s-default .cm-bracket {
  color: #997; }

/* line 113, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.cm-s-default .cm-tag {
  color: #170; }

/* line 114, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.cm-s-default .cm-attribute {
  color: #00c; }

/* line 115, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.cm-s-default .cm-header {
  color: blue; }

/* line 116, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.cm-s-default .cm-quote {
  color: #090; }

/* line 117, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.cm-s-default .cm-hr {
  color: #999; }

/* line 118, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.cm-s-default .cm-link {
  color: #00c; }

/* line 120, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.cm-negative {
  color: #d44; }

/* line 121, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.cm-positive {
  color: #292; }

/* line 122, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.cm-header, .cm-strong {
  font-weight: bold; }

/* line 123, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.cm-em {
  font-style: italic; }

/* line 124, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.cm-link {
  text-decoration: underline; }

/* line 125, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.cm-strikethrough {
  text-decoration: line-through; }

/* line 127, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.cm-s-default .cm-error {
  color: #f00; }

/* line 128, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.cm-invalidchar {
  color: #f00; }

/* Default styles for common addons */
/* line 132, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
div.CodeMirror span.CodeMirror-matchingbracket {
  color: #0f0; }

/* line 133, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
div.CodeMirror span.CodeMirror-nonmatchingbracket {
  color: #f22; }

/* line 134, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.CodeMirror-matchingtag {
  background: rgba(255, 150, 0, 0.3); }

/* line 135, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.CodeMirror-activeline-background {
  background: #e8f2ff; }

/* STOP */
/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */
/* line 142, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.CodeMirror {
  position: relative;
  overflow: hidden;
  background: white; }

/* line 148, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.CodeMirror-scroll {
  overflow: scroll !important;
  /* Things will break if this is overridden */
  /* 30px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -30px;
  margin-right: -30px;
  padding-bottom: 30px;
  height: 100%;
  outline: none;
  /* Prevent dragging from highlighting the element */
  position: relative;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

/* line 160, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.CodeMirror-sizer {
  position: relative;
  border-right: 30px solid transparent;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actuall scrolling happens, thus preventing shaking and
   flickering artifacts. */
/* line 170, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none; }

/* line 175, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.CodeMirror-vscrollbar {
  right: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: scroll; }

/* line 180, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.CodeMirror-hscrollbar {
  bottom: 0;
  left: 0;
  overflow-y: hidden;
  overflow-x: scroll; }

/* line 185, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.CodeMirror-scrollbar-filler {
  right: 0;
  bottom: 0; }

/* line 188, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.CodeMirror-gutter-filler {
  left: 0;
  bottom: 0; }

/* line 192, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.CodeMirror-gutters {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3; }

/* line 196, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: inline-block;
  margin-bottom: -30px;
  /* Hack to make IE7 behave */
  *zoom: 1;
  *display: inline; }

/* line 207, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  height: 100%; }

/* line 212, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4; }

/* line 217, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.CodeMirror-gutter-wrapper {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

/* line 223, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.CodeMirror-lines {
  cursor: text;
  min-height: 1px;
  /* prevents collapsing before first draw */ }

/* line 227, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.CodeMirror pre {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent; }

/* line 244, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.CodeMirror-wrap pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal; }

/* line 250, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.CodeMirror-linebackground {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0; }

/* line 256, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  overflow: auto; }

/* line 264, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.CodeMirror-code {
  outline: none; }

/* line 268, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden; }

/* line 275, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.CodeMirror-measure pre {
  position: static; }

/* line 277, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.CodeMirror div.CodeMirror-cursor {
  position: absolute;
  border-right: none;
  width: 0; }

/* line 283, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3; }

/* line 288, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible; }

/* line 292, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.CodeMirror-selected {
  background: #d9d9d9; }

/* line 293, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.CodeMirror-focused .CodeMirror-selected {
  background: #d7d4f0; }

/* line 294, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.CodeMirror-crosshair {
  cursor: crosshair; }

/* line 295, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.CodeMirror ::selection {
  background: #d7d4f0; }

/* line 296, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.CodeMirror ::-moz-selection {
  background: #d7d4f0; }

/* line 298, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.cm-searching {
  background: #ffa;
  background: rgba(255, 255, 0, 0.4); }

/* IE7 hack to prevent it from returning funny offsetTops on the spans */
/* line 304, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.CodeMirror span {
  *vertical-align: text-bottom; }

/* Used to force a border model for a node */
/* line 307, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.cm-force-border {
  padding-right: 0.1px; }

@media print {
  /* Hide the cursor when printing */
  /* line 311, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden; }
 }

/* See issue #2901 */
/* line 317, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
.cm-tab-wrap-hack:after {
  content: ''; }

/* Help users use markselection to safely style text background */
/* line 320, /Users/martinrisseeuw/Dropbox/Development projects/Amsterdecks-speeltuin/Speeltuin/sass/vendors/codemirror */
span.CodeMirror-selectedtext {
  background: none; }

/*# sourceMappingURL=main.css.map */