@font-face {
    font-family: 'avenir_book';
    src: url('../fonts/AvenirLTStd-Book.eot');
    src: url('../fonts/AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AvenirLTStd-Book.woff') format('woff'),
         url('../fonts/AvenirLTStd-Book.ttf') format('truetype'),
         url('../fonts/AvenirLTStd-Book.svg#avenir_book') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'avenir_medium';
    src: url('../fonts/AvenirLTStd-Medium.eot');
    src: url('../fonts/AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AvenirLTStd-Medium.woff') format('woff'),
         url('../fonts/AvenirLTStd-Medium.ttf') format('truetype'),
         url('../fonts/AvenirLTStd-Medium.svg#avenir_medium') format('svg');
    font-weight: normal;
    font-style: normal;
}
html{
  font-size: 100%;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	text-rendering: geometricPrecision;
	font-smooth: always;
	font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-webkit-font-smoothing: subpixel-antialiased;
}
body{
	font-family: 'Open Sans', sans-serif;
}
html {
    font-size: 100%;
}
h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
h1, .alpha {
    font-size: 3em;
    line-height: 1;
}
h2, .beta {
    font-size: 2.25em;
    line-height: 1.3333333333333333;
}
h3, .gamma {
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1em;
}
h4, .delta {
    font-size: 1.3125em;
    line-height: 1.1428571428571428;
}
h5, .epsilon {
    font-size: 1.125em;
    line-height: 1.3333333333333333;
}
h6, .zeta {
    font-size: 1em;
    line-height: 1.5;
}
p,
blockquote {
    font-size: 1em;
    margin: 0 0 1.5em;
    line-height: 1.5;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}
dl,
ol,
ul {
    font-size: 1em;
    padding: 0;
}
dd,
dt,
li {
    line-height: 1.5;
    margin: 0;
}