html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button, input, textarea, select, main, aside {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: none;
  outline: 0;
  border-style: solid;
  border-width: 0;
  box-sizing: border-box;
  position: relative; }

html, body {
  height: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

div, section, nav {
  position: relative; }

.light {
  background: #edebeb; }

.dark {
  background: #000; }

/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2014 Daniel Eden
*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animatedSlow {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animatedSuperSlow {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

@font-face {
  font-family: 'avenir_book';
  src: url("../fonts/AvenirLTStd-Book.eot");
  src: url("../fonts/AvenirLTStd-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirLTStd-Book.woff") format("woff"), url("../fonts/AvenirLTStd-Book.ttf") format("truetype"), url("../fonts/AvenirLTStd-Book.svg#avenir_book") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'avenir_medium';
  src: url("../fonts/AvenirLTStd-Medium.eot");
  src: url("../fonts/AvenirLTStd-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirLTStd-Medium.woff") format("woff"), url("../fonts/AvenirLTStd-Medium.ttf") format("truetype"), url("../fonts/AvenirLTStd-Medium.svg#avenir_medium") format("svg");
  font-weight: normal;
  font-style: normal; }
html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  font-smooth: always;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased; }

body {
  font-family: 'Open Sans', sans-serif; }

html {
  font-size: 100%; }

h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase; }

h1, .alpha {
  font-size: 3em;
  line-height: 1; }

h2, .beta {
  font-size: 2.25em;
  line-height: 1.3333333333333333; }

h3, .gamma {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em; }

h4, .delta {
  font-size: 1.3125em;
  line-height: 1.1428571428571428; }

h5, .epsilon {
  font-size: 1.125em;
  line-height: 1.3333333333333333; }

h6, .zeta {
  font-size: 1em;
  line-height: 1.5; }

p,
blockquote {
  font-size: 1em;
  margin: 0 0 1.5em;
  line-height: 1.5;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }

dl,
ol,
ul {
  font-size: 1em;
  padding: 0; }

dd,
dt,
li {
  line-height: 1.5;
  margin: 0; }

@font-face {
  font-family: 'icons';
  src: url("../icons/icons.eot?79h4zr");
  src: url("../icons/icons.eot?#iefix79h4zr") format("embedded-opentype"), url("../icons/icons.woff?79h4zr") format("woff"), url("../icons/icons.ttf?79h4zr") format("truetype"), url("../icons/icons.svg?79h4zr#icons") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  top: 2px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-apple:before {
  content: "\e600"; }

.icon-artifact:before {
  content: "\e601"; }

.icon-back:before {
  content: "\e602"; }

.icon-bin:before {
  content: "\e603"; }

.icon-build:before {
  content: "\e604"; }

.icon-building_satellite:before {
  content: "\e605"; }

.icon-building:before {
  content: "\e606"; }

.icon-camera:before {
  content: "\e607"; }

.icon-carrot:before {
  content: "\e608"; }

.icon-cc-by:before {
  content: "\e609"; }

.icon-cc-nd:before {
  content: "\e60a"; }

.icon-cc-nc:before {
  content: "\e60b"; }

.icon-cc-public-domain:before {
  content: "\e60c"; }

.icon-cc-remix:before {
  content: "\e60d"; }

.icon-cc-sampling-plus:before {
  content: "\e60e"; }

.icon-cc-sampling:before {
  content: "\e60f"; }

.icon-cc-sa:before {
  content: "\e610"; }

.icon-cc-share:before {
  content: "\e611"; }

.icon-cc-zero:before {
  content: "\e612"; }

.icon-cc:before {
  content: "\e613"; }

.icon-clock:before {
  content: "\e614"; }

.icon-clock2:before {
  content: "\e615"; }

.icon-cloud:before {
  content: "\e616"; }

.icon-code:before {
  content: "\e617"; }

.icon-coffee:before {
  content: "\e618"; }

.icon-delete:before {
  content: "\e619"; }

.icon-device:before {
  content: "\e61a"; }

.icon-indication-bar0:before {
  content: "\e61b"; }

.icon-indication-bar1:before {
  content: "\e61c"; }

.icon-indication-bar2:before {
  content: "\e61d"; }

.icon-indication-bar3:before {
  content: "\e61e"; }

.icon-indication-bar4:before {
  content: "\e61f"; }

.icon-indication-bar5:before {
  content: "\e620"; }

.icon-discussion:before {
  content: "\e621"; }

.icon-down:before {
  content: "\e622"; }

.icon-exit:before {
  content: "\e623"; }

.icon-eye:before {
  content: "\e624"; }

.icon-flag:before {
  content: "\e625"; }

.icon-folder:before {
  content: "\e626"; }

.icon-gift:before {
  content: "\e627"; }

.icon-health:before {
  content: "\e628"; }

.icon-heart:before {
  content: "\e629"; }

.icon-house:before {
  content: "\e62a"; }

.icon-key:before {
  content: "\e62b"; }

.icon-key2:before {
  content: "\e62c"; }

.icon-lamp:before {
  content: "\e62d"; }

.icon-lemon:before {
  content: "\e62e"; }

.icon-list:before {
  content: "\e62f"; }

.icon-lock:before {
  content: "\e630"; }

.icon-loupe:before {
  content: "\e631"; }

.icon-man:before {
  content: "\e632"; }

.icon-meat:before {
  content: "\e633"; }

.icon-messages:before {
  content: "\e634"; }

.icon-money:before {
  content: "\e635"; }

.icon-music:before {
  content: "\e636"; }

.icon-pencil:before {
  content: "\e637"; }

.icon-picture:before {
  content: "\e638"; }

.icon-play:before {
  content: "\e639"; }

.icon-plug:before {
  content: "\e63a"; }

.icon-plug2:before {
  content: "\e63b"; }

.icon-plus:before {
  content: "\e63c"; }

.icon-plus-92:before {
  content: "\e63d"; }

.icon-plus2:before {
  content: "\e63e"; }

.icon-redo:before {
  content: "\e63f"; }

.icon-redo2:before {
  content: "\e640"; }

.icon-save:before {
  content: "\e641"; }

.icon-screen:before {
  content: "\e642"; }

.icon-search:before {
  content: "\e643"; }

.icon-share:before {
  content: "\e644"; }

.icon-share2:before {
  content: "\e645"; }

.icon-skills:before {
  content: "\e646"; }

.icon-star:before {
  content: "\e647"; }

.icon-star2:before {
  content: "\e648"; }

.icon-suitcase:before {
  content: "\e649"; }

.icon-telephone:before {
  content: "\e64a"; }

.icon-television:before {
  content: "\e64b"; }

.icon-text:before {
  content: "\e64c"; }

.icon-title:before {
  content: "\e64d"; }

.icon-undo:before {
  content: "\e64e"; }

.icon-vinyl:before {
  content: "\e64f"; }

.icon-world:before {
  content: "\e650"; }

.icon-logo:before {
  content: "\e62d";
  -webkit-animation: scrollLogo 5s;
  /* Chrome, Safari, Opera */
  animation: scrollLogo 5s; }

@-webkit-keyframes scrollLogo {
  0% {
    content: "\e62d"; }
  25% {
    content: "\e649"; }
  50% {
    content: "\e647"; }
  100% {
    content: "\e642"; } }
/* Standard syntax */
@keyframes scrollLogo {
  0% {
    content: "\e62d"; }
  25% {
    content: "\e649"; }
  50% {
    content: "\e647"; }
  100% {
    content: "\e642"; } }
.btn, button {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 0.625em 0.9375em;
  display: inline-block;
  margin: 1.875em 0;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

.btn-1 {
  border: 2px solid #333;
  color: #333; }

/* Button 1a */
.btn-1a:hover,
.btn-1a:active {
  color: white;
  background: #323232;
  border: 2px solid #323232; }

.call-to-btn-1 {
  border: 2px solid #2196f3;
  background: #2196f3;
  color: white; }

/* Button 1a */
.call-to-btn-1a:hover,
.call-to-btn-1a:active {
  color: #2196f3;
  background: #fff;
  border: 2px solid #fff; }

.buttonControls .btn-1a:hover,
.buttonControls .btn-1a:active {
  color: white;
  background: #44abda;
  border: 2px solid #44abda; }

button.active {
  background: #44abda;
  color: white;
  border-color: #44abda; }

.right {
  float: right; }

.left {
  float: left; }

.hidden {
  opacity: 0; }

.visible {
  opacity: 1; }

body {
  overflow: hidden;
  transition: all 0.5s ease; }

#map {
  position: absolute;
  left: 25%;
  right: 0;
  height: 100%;
  overflow: scroll; }

.views {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 999;
  padding: 1%;
  background: white;
  box-shadow: 0px 0px 5px 1px rgba(50, 50, 50, 0.3); }

.views li {
  display: inline;
  font-size: 2.5em;
  margin-bottom: 0;
  line-height: 0;
  cursor: pointer; }

.views li:first-child {
  margin-right: .4em; }

.prinsengracht {
  transform-origin: center center; }

.noHover:hover {
  background: transparent; }

.logo {
  max-width: 60px;
  display: block; }

.videoWrapper {
  position: relative;
  width: 100% !important;
  padding-bottom: 56.25% !important;
  /* 16:9 */
  padding-top: 25px !important;
  height: 0; }

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

video {
  width: 100%    !important;
  height: auto   !important;
  z-index: 9;
  position: relative; }

.sideBar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: white;
  width: 25%;
  overflow-y: auto;
  border-right: 1px solid white;
  z-index: 9;
  box-shadow: 3px 0px 5px rgba(50, 50, 50, 0.2); }

.sideBar section {
  float: left;
  width: 100%; }

.sideBar section h1 {
  padding: 4% 8%; }

.accordionWidget h1 span {
  color: #2196f3 !important; }

.sideBar section p {
  padding: 2% 8% 1%; }

.sideBar section li > h2 {
  padding: 2% 8%; }

.sideBar section p {
  margin-bottom: 0; }

.sideBar section h2 {
  margin-bottom: .5em; }

.sideBar section ul {
  display: none; }

.accordionWidget {
  cursor: pointer;
  border-bottom: 1px solid white;
  transition: all 0.15s cubic-bezier(1, -0.005, 0.72, 1.005); }

.accordionWidget:hover {
  background-color: #edebeb; }

.accordionWidget.open {
  background-color: #edebeb; }

.accordionWidget.open li:hover {
  background-color: #d5d0d0; }

.accordionWidget.open .buttonControls:hover {
  background: transparent; }

.ctrl-list-item {
  padding-top: 1%; }

.range-val-lower {
  text-align: left; }

.range-val-upper {
  text-align: right;
  float: right; }

.noHover:hover, .ctrl-list-item:hover {
  background: transparent !important; }

.noHover {
  cursor: auto !important; }

.accordionWidget ul li h2 {
  margin-top: 1.2em;
  margin-bottom: 0; }

.sideBar .buttonControls p {
  padding: 0; }

.buttonControls {
  padding: 8% 8% 0;
  border-bottom: 1px solid white;
  border-top: 1px solid white; }

.intro h1 {
  padding: 2% 8% !important;
  font-size: 3em; }

.intro {
  padding: 6% 0;
  border-bottom: #edebeb 1px solid; }

.close-button {
  display: none; }

#sideContainer {
  padding: 0 8%; }

#sideContainer .btn {
  margin-right: 0.625em; }

#map svg {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%); }

.prinsengracht {
  opacity: 1; }

#map svg g {
  opacity: .8;
  cursor: pointer; }

#map svg g:hover {
  opacity: 1; }

/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.noUi-target {
  position: relative;
  direction: ltr; }

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative; }

.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0; }

.noUi-handle {
  position: relative;
  z-index: 1; }

.noUi-stacking .noUi-handle {
  /* This class is applied to the lower origin when
     its values is > 50%. */
  z-index: 10; }

.noUi-stacking + .noUi-origin {
  /* Fix stacking order in IE7, which incorrectly
     creates a new context for the origins. */
  *z-index: -1; }

.noUi-state-tap .noUi-origin {
  -webkit-transition: left 0.3s, top 0.3s;
  transition: left 0.3s, top 0.3s; }

.noUi-state-drag * {
  cursor: inherit !important; }

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 3px;
  padding: 0 !important; }

.noUi-horizontal .noUi-handle {
  width: 12px;
  height: 12px;
  left: -6px;
  top: -5px;
  border-radius: 50%; }

.noUi-vertical {
  width: 18px; }

.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  left: -6px;
  top: -17px; }

/* Styling;
 */
.noUi-background {
  background: #FAFAFA; }

.noUi-connect {
  background: #3FB8AF;
  -webkit-transition: background 450ms;
  transition: background 450ms; }

.noUi-origin {
  border-radius: 2px; }

.noUi-target {
  margin: 2% 8%; }

/* Handles and cursors;
 */
.noUi-dragable {
  cursor: w-resize; }

.noUi-vertical .noUi-dragable {
  cursor: n-resize; }

.noUi-handle {
  border-radius: 3px;
  background: #2196f3;
  cursor: default; }

/* Handle stripes;
 */
.noUi-handle:after {
  left: 17px; }

.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px; }

.noUi-vertical .noUi-handle:after {
  top: 17px; }

/* Disabled state;
 */
[disabled].noUi-connect,
[disabled] .noUi-connect {
  background: #B8B8B8; }

[disabled] .noUi-handle {
  cursor: not-allowed; }

.example-val {
  padding: 0 8% !important; }

.ctrl-list-item {
  margin-bottom: 2%; }

#my-gui-container {
  color: #323232; }

#my-gui-container li {
  background: #edebeb;
  color: #323232;
  font-size: 1.2em;
  padding: 2% 8%; }

#my-gui-container li:hover {
  background: #d5d0d0; }

.dg {
  font: inherit !important;
  font-size: .875em !important; }

.dg .property-name {
  text-shadow: none; }

.dg .cr {
  height: auto !important; }

.dg li:not(.folder) {
  border-bottom: none !important; }

.dg .has-slider input[type="text"] {
  display: none !important; }

.dg.main li {
  border-left: none !important; }

.dg li:not(.folder) {
  height: auto !important; }

.dg li.save-row select {
  margin-left: 0 !important; }

.dg li.save-row .button, .dg li.save-row .button.gears {
  height: auto !important;
  width: auto !important;
  font-size: 1em !important;
  padding: 4% !important;
  text-shadow: none !important;
  box-shadow: none !important;
  color: #323232 !important; }

.dg li.save-row .button {
  background: transparent !important;
  border: 2px solid #323232; }

.dg li.save-row option {
  padding: 4% !important; }

.gears {
  display: none !important; }

/* BASICS */
.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 300px;
  color: black; }

/* PADDING */
.CodeMirror-lines {
  padding: 4px 0;
  /* Vertical padding around content */ }

.CodeMirror pre {
  padding: 0 4px;
  /* Horizontal padding of content */ }

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: white;
  /* The little square between H and V scrollbars */ }

/* GUTTER */
.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap; }

.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.CodeMirror-guttermarker {
  color: black; }

.CodeMirror-guttermarker-subtle {
  color: #999; }

/* CURSOR */
.CodeMirror div.CodeMirror-cursor {
  border-left: 1px solid black; }

/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver; }

.CodeMirror.cm-fat-cursor div.CodeMirror-cursor {
  width: auto;
  border: 0;
  background: #7e7; }

.CodeMirror.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1; }

.cm-animate-fat-cursor {
  width: auto;
  border: 0;
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite; }

@-moz-keyframes blink {
  0% {
    background: #7e7; }
  50% {
    background: none; }
  100% {
    background: #7e7; } }
@-webkit-keyframes blink {
  0% {
    background: #7e7; }
  50% {
    background: none; }
  100% {
    background: #7e7; } }
@keyframes blink {
  0% {
    background: #7e7; }
  50% {
    background: none; }
  100% {
    background: #7e7; } }
/* Can style cursor different in overwrite (non-insert) mode */
.cm-tab {
  display: inline-block;
  text-decoration: inherit; }

.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  position: absolute; }

/* DEFAULT THEME */
.cm-s-default .cm-keyword {
  color: #708; }

.cm-s-default .cm-atom {
  color: #219; }

.cm-s-default .cm-number {
  color: #164; }

.cm-s-default .cm-def {
  color: #00f; }

.cm-s-default .cm-variable-2 {
  color: #05a; }

.cm-s-default .cm-variable-3 {
  color: #085; }

.cm-s-default .cm-comment {
  color: #a50; }

.cm-s-default .cm-string {
  color: #a11; }

.cm-s-default .cm-string-2 {
  color: #f50; }

.cm-s-default .cm-meta {
  color: #555; }

.cm-s-default .cm-qualifier {
  color: #555; }

.cm-s-default .cm-builtin {
  color: #30a; }

.cm-s-default .cm-bracket {
  color: #997; }

.cm-s-default .cm-tag {
  color: #170; }

.cm-s-default .cm-attribute {
  color: #00c; }

.cm-s-default .cm-header {
  color: blue; }

.cm-s-default .cm-quote {
  color: #090; }

.cm-s-default .cm-hr {
  color: #999; }

.cm-s-default .cm-link {
  color: #00c; }

.cm-negative {
  color: #d44; }

.cm-positive {
  color: #292; }

.cm-header, .cm-strong {
  font-weight: bold; }

.cm-em {
  font-style: italic; }

.cm-link {
  text-decoration: underline; }

.cm-strikethrough {
  text-decoration: line-through; }

.cm-s-default .cm-error {
  color: #f00; }

.cm-invalidchar {
  color: #f00; }

/* Default styles for common addons */
div.CodeMirror span.CodeMirror-matchingbracket {
  color: #0f0; }

div.CodeMirror span.CodeMirror-nonmatchingbracket {
  color: #f22; }

.CodeMirror-matchingtag {
  background: rgba(255, 150, 0, 0.3); }

.CodeMirror-activeline-background {
  background: #e8f2ff; }

/* STOP */
/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */
.CodeMirror {
  position: relative;
  overflow: hidden;
  background: white; }

.CodeMirror-scroll {
  overflow: scroll !important;
  /* Things will break if this is overridden */
  /* 30px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -30px;
  margin-right: -30px;
  padding-bottom: 30px;
  height: 100%;
  outline: none;
  /* Prevent dragging from highlighting the element */
  position: relative;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.CodeMirror-sizer {
  position: relative;
  border-right: 30px solid transparent;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actuall scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none; }

.CodeMirror-vscrollbar {
  right: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: scroll; }

.CodeMirror-hscrollbar {
  bottom: 0;
  left: 0;
  overflow-y: hidden;
  overflow-x: scroll; }

.CodeMirror-scrollbar-filler {
  right: 0;
  bottom: 0; }

.CodeMirror-gutter-filler {
  left: 0;
  bottom: 0; }

.CodeMirror-gutters {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3; }

.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: inline-block;
  margin-bottom: -30px;
  /* Hack to make IE7 behave */
  *zoom: 1;
  *display: inline; }

.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  height: 100%; }

.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4; }

.CodeMirror-gutter-wrapper {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.CodeMirror-lines {
  cursor: text;
  min-height: 1px;
  /* prevents collapsing before first draw */ }

.CodeMirror pre {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent; }

.CodeMirror-wrap pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal; }

.CodeMirror-linebackground {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0; }

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  overflow: auto; }

.CodeMirror-code {
  outline: none; }

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden; }

.CodeMirror-measure pre {
  position: static; }

.CodeMirror div.CodeMirror-cursor {
  position: absolute;
  border-right: none;
  width: 0; }

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3; }

.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible; }

.CodeMirror-selected {
  background: #d9d9d9; }

.CodeMirror-focused .CodeMirror-selected {
  background: #d7d4f0; }

.CodeMirror-crosshair {
  cursor: crosshair; }

.CodeMirror ::selection {
  background: #d7d4f0; }

.CodeMirror ::-moz-selection {
  background: #d7d4f0; }

.cm-searching {
  background: #ffa;
  background: rgba(255, 255, 0, 0.4); }

/* IE7 hack to prevent it from returning funny offsetTops on the spans */
.CodeMirror span {
  *vertical-align: text-bottom; }

/* Used to force a border model for a node */
.cm-force-border {
  padding-right: .1px; }

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden; } }
/* See issue #2901 */
.cm-tab-wrap-hack:after {
  content: ''; }

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext {
  background: none; }
