doctype html
html(lang="en")
  head
    -var pageTitle = "Amsterdecks"
    title= pageTitle
    link(href='main.css', rel="stylesheet")
    script(src="output.min.js")
    //- inject:js
    script(src="/public/js/main.js")
    //- endinject
  body