body {
	overflow: hidden; transition: all 0.5s ease;
}
#map {
  position: absolute;
  left:30%;
  right: 0;
  height: 100%;
  overflow: scroll;
}

.views{
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 999;
	padding: $tiny-percentage;
	background: $canvas;
	box-shadow: $shadow;
}

.views li{
	display: inline;
	font-size: 2.5em;
	margin-bottom: 0;
	line-height: 0;
	cursor: pointer;
}
.views li:first-child{
	margin-right: .4em;
}

.prinsengracht{
transform-origin: center center;
}

.noHover:hover{
  background: transparent;
}

#map canvas{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}